{% extends "base.html" %}

{% block title %}Tag Edit Form{% endblock %}

{% block content %}
  <h1>Edit a tag</h1>
  <form action="/tags/{{tag.id}}/edit", method="POST">
    <div class="form-group row">
      <label class="col-2" for="name">Name</label>
      <input
        class="form-control col"
        name="name"
        type="text"
        value="{{tag.name}}"
      >
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-info mx-1" href="/tags/{{tag.id}}">
        Cancel
      </a>
      <button class="btn btn-success" type="submit">Edit</button>
    </div>
  </form>
{% endblock %}