{% extends "base.html" %}

{% block title %}Post Detail Page{% endblock %}

{% block content %}
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <p>
    <i>By {{post.user.full_name}} on {{post.friendly_date}}</i>
  </p>
  <b>Tags:</b>
  <span>
    {% for tag in tags %}
      <div class="badge badge-primary">{{tag.name}}</div>
    {% endfor %}
  </span>
  <form class="d-flex justify-content-start mt-3">
    <button
      class="btn btn-outline-primary"
      formaction="/users/{{post.user_id}}"
      formmethod="GET"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary mx-1"
      formaction="/posts/{{post.id}}/edit"
      formmethod="GET"
    >
      Edit
    </button>
    <button
      class="btn btn-danger"
      formaction="/posts/{{post.id}}/delete"
      formmethod="POST"
    >
      Delete
    </button>
  </form>
{% endblock %}